@import "tailwindcss";

@theme {
    --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    font-family: "Outfit", ui-sans-serif, system-ui, sans-serif;
}